	/* styles for jobseekers.html
		Created by Sherry, Vicent, and Dennis
		Code review by zizuo
	*/
	*{
	    padding: 0;
	    margin: 0;
	}

	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 100%
	}

	img {
		max-width: 100%;
	}

	header img:hover {
		opacity: 0.7;
	}

	ul#upperNav li:hover {
		background-color: gray;
	}

	header a {
		text-decoration: none;
		color: white;
	}

	nav#navigator {
		background-color: #2F2F2F;
		color: white;
	}

	nav ul#upperNav {
		margin-top: 0;
		margin-bottom: 15px;
	}



	nav ul#upperNav li {
		border: 2px solid white;
		border-radius: 0.3em;
		margin-left: 10px;
		font-size: 0.7em;
		padding: 8px;
	}

	nav ul li {
		list-style: none;
		padding-left: 15px;
	}

	section#slideshow {
		background-color: #EAEDEE;
	}

	div#slides img {
		display: block;
		height: 480px;
	}


	div#onestop img {
		padding: 30px;
		display: block;
		margin-left: 40%;
		position: absolute;
	}

	div#onestop h2 {
		margin-left: 31%;
		margin-top: 30px;
		font-size: 2em;
		padding: 30px;
		letter-spacing: 0.2em;
	}

	div#svg object {
		opacity: 0.5;
		color: white;
		padding: 0;
	}

	div#svg p {
		font-size: 0.7em;
		text-align: center;
	}

	div#svg figcaption {
		font-size: 0.8em;
		font-style: italic;
	}



	object#first {
		position: absolute;
	}

	object#second {
		margin-left: 32px;
	}

	div#jobbuzz {
		padding-bottom: 120px;
	}


	section#bottom {
		clear: both;
		background-color: #EAEDEE;
	}


	div#match img {
		display: block;
		margin-top: 30px;
		margin-left: 43%;
		position: absolute;
	}

	div#match h2 {
		margin-left: 28%;
		font-size: 2em;
		padding: 60px;
		letter-spacing: 0.2em;
	}

	footer {
		font-size: 0.8em;
	}

	div#logo img {
		margin-bottom: 10px;
		display: block;
	}

	div#logo p {
		font-size: 0.8em;
		text-align: center;
	}


	div#subForm {
		margin: 10px;
		font-size: 0.7em;
		background-color: #EAEDEE;
	}

	div#para {
		background-color: #D9D9DA;
		padding: 1px;
	}

	div#para p {
		margin: 15px;
		text-align: center;
	}

	form#subscribe input {
		margin: 15px;
		padding: 10px;
		border: 0px;
		width: 70%;
	}


	input#submit {
		padding: 10px;
		background-color: #5A5A5A;
		color: white;
	}


	@media screen and (max-width : 768px) {

		header img {
			width: 80%;
			display: block;
			margin: 0 auto;
		}

		nav ul#lowerNav {
			padding-bottom: 20px;
			text-align: center;
		}

		nav ul#upperNav {
			padding: 10px;
			margin-left: 50%;
		}

		div#slides img {
			margin: 0 auto;
		}

		div#onestop {
			padding: 5px;
		}

		div#svg {
			
			margin: 15px auto;
		}

		div#path {
			display: block;
			margin: 15px auto;
		}

		div#mentor {
			
			margin: 15px auto;
		}

		
		div#ezjobs {
			margin: 15px auto;
		}
		
		div#jobbuzz {
			margin: 15px auto;
		}

		div#photos {
			margin: 15px auto;
		}

		div#photos img {
			height: 350px;
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		img.imgStyle {
			border: 8px solid black;
			//margin: 20px 10px 40px;
			//position: absolute;
		}

		footer {
			width: 90%;
			margin: 0 auto;
		}

		div#logo  {
			margin: 15px auto;
		}

		div#logo img {
			margin: 0 auto;
		}
		
		div#contact {
			
			margin: 15px auto;
			font-weight: bold;
		}

		div#social {
			
			margin: 15px auto;
		}

		
		form#subscribe input {
			display: inline;
		}

		
		div#social ul li {
			display: inline;
			margin: 10px auto;
		}

		
		div#contact ul li {
			display: inline;
			margin: 10px auto;
		}

	}



	@media screen and (min-width: 769px) {

		header img {
			width: 80%;
			display: block;
			margin: 0 auto;
		}

		nav ul li {
			display: inline;
		}

		nav ul#lowerNav {
			padding-bottom: 20px;
			text-align: center;
		}

		nav ul#upperNav {
			padding-top: 20px;
			margin-left: 61%;
		}

		

		div#slides img {
			width: 70%;
			margin: 0 auto;
		}

		div#onestop {
			padding: 20px;
		}

		div#svg {
			width: 60%;
			margin: 20px auto;
		}

		div#path {
			width: 18%;
			float: left;
			margin-left: 35px;
			margin-right: 35px;
			
		}

		div#mentor {
			width: 18%;
			float: left;
			margin-right: 35px;
		}

		
		div#ezjobs {
			width: 18%;
			float: left;
			margin-right: 35px;
		}
		
		div#jobbuzz {
			width: 18%;
			float: left;
		}

		div#photos {
			width: 70%;
		    margin: 0 auto;
		}

		div#photos img {
			width: 22%;
			height: 350px;
			text-align: center;
		}

		div#photos a:first-child {
			margin-left: 8%;
		}

		img.imgStyle {
			border: 8px solid black;
			margin: 20px 10px 40px;
		}

		footer {
			width: 55%;
			margin: 0 auto;
		}

		div#logo  {
			width: 15%;
		}

		div#contact {
			width: 26%;
			margin-top: 65px;
			font-weight: bold;
		}

		div#social {
			width: 38%;
			margin-top: 55px;
		}

		div#subForm {
			width: 16%;
		}

		footer ul li {
			display: inline;
		}

		.left {
			float: left;
		}

		form#subscribe input {
			display: block;
		}
		
		div#social ul li {
			margin-right: 8px;
		}

		
		div#contact ul li {
			margin-left: 13px;
		}

	}