/* styles for jobseekers.html
	Created by Sherry, Vicent, and Dennis
*/
*{
    padding: 0;
    margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%
}

img {
	max-width: 100%;
}

header img:hover {
	opacity: 0.7;
}

ul#upperNav li:hover {
	background-color: gray;
}

header a {
	text-decoration: none;
	color: white;
}

nav#navigator {
	background-color: #2F2F2F;
	color: white;
}

nav ul#upperNav {
	margin-top: 0;
	margin-bottom: 15px;
}



nav ul#upperNav li {
	border: 2px solid white;
	border-radius: 0.3em;
	margin-left: 10px;
	font-size: 0.7em;
	padding: 8px;
}

nav ul li {
	list-style: none;
	padding-left: 15px;
}

div#slideshow {
	background-color: #EAEDEE;
}

img#arrows {
	
    margin: 0 auto;
    width: 50px;
    height: 35px;
}

div#slides img {
	display: block;
	height: 350px;
}

div#onestop img {
	padding: 30px;
	display: block;
	margin-left: 40%;
	position: absolute;
}

div#onestop h1 {
	margin-left: 30%;
	margin-top: 30px;
	position: absolute;
	padding: 30px;
	letter-spacing: 0.2em;
}


/* for screen less than 480px  */
@media screen and (max-width : 480px) {
/* Styles */
}


/* screen 481px-1024px*/
@media only screen
and (min-width : 481px)
and (max-width : 768px) {
/* Styles */
}



@media screen and (min-width: 769px) {

	header img {
		width: 80%;
		display: block;
		margin: 0 auto;
	}

	nav ul li {
		display: inline;
	}

	nav ul#lowerNav {
		padding-bottom: 20px;
		text-align: center;
	}

	nav ul#upperNav {
		padding-top: 20px;
		margin-left: 61%;
	}

	

	div#slides img {
		width: 70%;
		margin: 0 auto;
	}

	div#onestop {
		padding: 20px;
	}

}